<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmazonDashUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <AmazonDashUI.Properties.Settings>
            <setting name="AnyButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecificButton" serializeAs="String">
                <value />
            </setting>
            <setting name="WebPageToOpen" serializeAs="String">
                <value>http://moodle.impington.cambs.sch.uk/login/index.php</value>
            </setting>
            <setting name="PlayChime" serializeAs="String">
                <value>True</value>
            </setting>
        </AmazonDashUI.Properties.Settings>
    </userSettings>
</configuration>
